<div class="container">
    <h4 class="text-success mt-5 mb-3">Edit Author</h4>
    <form action="/authors/<%= author._id%>?_method=PUT" method="POST" >
        <%- include('_form_fields')%>
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="/authors/<%= author._id%>" class="btn btn-danger">Cancel</a>
    </form>
</div>
